
/* OS/2 Warp 4.0 Resource Script File - Created by Universal Resource Editor */

#define INCL_WINSYS
#define INCL_WINBIDI
#define INCL_WINSTDDLGS
#define INCL_WINSTDSPIN
#define INCL_NLS
#define INCL_SW

#include <os2.h>

#include "General-resources.h"

DLGTEMPLATE DLG_PASSWORDPROTECTION MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Password protection", DLG_PASSWORDPROTECTION, 60, 66, 160, 45,
                FS_NOBYTEALIGN | FS_DLGBORDER | WS_CLIPSIBLINGS | WS_SAVEBITS,
                FCF_TITLEBAR | FCF_SYSMENU | FCF_CLOSEBUTTON
    PRESPARAMS PP_FOREGROUNDCOLORINDEX, CLR_BLACK
    PRESPARAMS PP_FONTNAMESIZE, "10.System Proportional"
    PRESPARAMS PP_USER, "10.System Proportional"
    BEGIN
        CONTROL "Please enter the password to unlock the screensaver!",
                                       ST_PLEASEENTERTHEPASSWORD,
                                        3, 27, 154, 14, WC_STATIC, SS_TEXT |
                                            DT_CENTER | DT_TOP | DT_WORDBREAK |
                                            WS_GROUP | WS_VISIBLE
        CONTROL "Password",            EF_PASSWORD, 11, 18, 138, 6,
                                            WC_ENTRYFIELD, ES_MARGIN |
                                            ES_UNREADABLE | ES_ANY | WS_TABSTOP |
                                            WS_VISIBLE
                CTLDATA 8, 32, 0, 0
        CONTROL "~Ok",                 PB_OK, 4, 4, 30, 10, WC_BUTTON,
                                            BS_PUSHBUTTON | BS_DEFAULT |
                                            WS_TABSTOP | WS_VISIBLE
        CONTROL "~Cancel",             PB_CANCEL, 126, 4, 30, 10, WC_BUTTON,
                                            BS_PUSHBUTTON | WS_TABSTOP |
                                            WS_VISIBLE
    END
END

DLGTEMPLATE DLG_WRONGPASSWORD MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Wrong password", DLG_WRONGPASSWORD, 58, 100, 160, 40,
                FS_NOBYTEALIGN | FS_DLGBORDER | WS_CLIPSIBLINGS | WS_SAVEBITS,
                FCF_TITLEBAR | FCF_SYSMENU
    PRESPARAMS PP_FONTNAMESIZE, "10.System Proportional"
    PRESPARAMS PP_USER, "10.System Proportional"
    BEGIN
        CONTROL "OK",                  DID_OK, 65, 4, 30, 10, WC_BUTTON,
                                            BS_PUSHBUTTON | BS_DEFAULT |
                                            WS_GROUP | WS_TABSTOP | WS_VISIBLE
                PRESPARAMS PP_FONTNAMESIZE, "10.System Proportional"
        CONTROL "An invalid password has been entered!\012Please try again!",
                                       ST_INVALIDPASSWORDTEXT, 2, 16, 156, 20,
                                            WC_STATIC, SS_TEXT | DT_CENTER |
                                            DT_TOP | DT_WORDBREAK | WS_GROUP |
                                            WS_VISIBLE
                PRESPARAMS PP_FOREGROUNDCOLORINDEX, CLR_BLACK
                PRESPARAMS PP_FONTNAMESIZE, "10.System Proportional"
    END
END
