#include <os2.h>
#include "wpssdesktop-resources.h"

DLGTEMPLATE DLG_SCREENSAVERSETTINGSPAGE1 LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "Screen Saver settings", DLG_SCREENSAVERSETTINGSPAGE1,
            0, 0, 240, 154, FS_NOBYTEALIGN | NOT FS_DLGBORDER | WS_VISIBLE
            PRESPARAMS PP_FOREGROUNDCOLORINDEX, CLR_BLACK
    BEGIN
        GROUPBOX        "General settings", GB_GENERALSETTINGS, 2, 88, 236, 58,
                        NOT WS_GROUP
        AUTOCHECKBOX    "Screen saving ~enabled", CB_ENABLED, 8, 124, 224, 10
        LTEXT           "Start saver after", ST_STARTSAVERAFTER, 8, 114, 90, 8,
                        DT_MNEMONIC | NOT WS_GROUP
        SPINBUTTON      SPB_TIMEOUT, 106, 114, 26, 10,
                        SPBS_NUMERICONLY | SPBS_READONLY | SPBS_MASTER |
                        SPBS_JUSTRIGHT | SPBS_FASTSPIN
        LTEXT           "minute(s) of inactivity", ST_MINUTESOFINACTIVITY, 
                        137, 114, 95, 8, NOT WS_GROUP
        AUTOCHECKBOX    "Wake up by ~keyboard only", CB_WAKEUPBYKEYBOARDONLY, 
                        8, 102, 224, 10
        AUTOCHECKBOX    "Disable ~VIO popups while saving", 
                        CB_DISABLEVIOPOPUPSWHILESAVING, 8, 91, 224, 10
        GROUPBOX        "DPMS settings", GB_DPMSSETTINGS, 2, 2, 236, 81
        AUTOCHECKBOX    "Use DPMS ~Standby state", CB_USEDPMSSTANDBYSTATE,
                        8, 62, 224, 10
        LTEXT           "Switch to Standby state after", 
                        ST_SWITCHTOSTANDBYSTATEAFTER, 8, 52, 100, 8, DT_MNEMONIC
        SPINBUTTON      SPB_STANDBYTIMEOUT, 112, 52, 28, 10, 
                        SPBS_NUMERICONLY | SPBS_READONLY | SPBS_MASTER | 
                        SPBS_JUSTRIGHT | SPBS_FASTSPIN
        LTEXT           "minutes of saving", ST_STANDBYMINUTESTEXT, 144, 52, 88, 8
        AUTOCHECKBOX    "Use DPMS S~uspend state", CB_USEDPMSSUSPENDSTATE, 
                        8, 39, 224, 10
        LTEXT           "Switch to Suspend state after", 
                        ST_SWITCHTOSUSPENDSTATEAFTER, 8, 29, 100, 8, DT_MNEMONIC
        SPINBUTTON      SPB_SUSPENDTIMEOUT, 112, 29, 28, 10, 
                        SPBS_NUMERICONLY | SPBS_READONLY | SPBS_MASTER | 
                        SPBS_JUSTRIGHT | SPBS_FASTSPIN
        LTEXT           "minutes of Standby state", ST_SUSPENDMINUTESTEXT, 
                        144, 29, 88, 8
        AUTOCHECKBOX    "Use DPMS ~Off state", CB_USEDPMSOFFSTATE, 8, 16, 224, 10
        LTEXT           "Switch to Off state after", 
                        ST_SWITCHTOOFFSTATEAFTER, 8, 6, 100, 8, DT_MNEMONIC
        SPINBUTTON      SPB_OFFTIMEOUT, 112, 6, 28, 10,
                        SPBS_NUMERICONLY | SPBS_READONLY | SPBS_MASTER |
                        SPBS_JUSTRIGHT | SPBS_FASTSPIN
        LTEXT           "minutes of Suspend state", ST_OFFMINUTESTEXT, 144, 6, 88, 8
        PUSHBUTTON      "~Undo", PB_NOTEBOOK_PG1_UNDO, 10, 0, 48, 14, BS_NOTEBOOKBUTTON
        PUSHBUTTON      "~Default", PB_NOTEBOOK_PG1_DEFAULT, 60, 0, 48, 14, BS_NOTEBOOKBUTTON
        PUSHBUTTON      "Help", PB_NOTEBOOK_PG1_HELP, 110, 0, 48, 14, BS_NOTEBOOKBUTTON
    END
END

DLGTEMPLATE DLG_SCREENSAVERSETTINGSPAGE2 LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "Screensaver settings page 2", DLG_SCREENSAVERSETTINGSPAGE2,
            0, 0, 240, 154, FS_NOBYTEALIGN | NOT FS_DLGBORDER | WS_VISIBLE
            PRESPARAMS PP_FOREGROUNDCOLORINDEX, CLR_BLACK
    BEGIN
        GROUPBOX        "Password protection", GB_PASSWORDPROTECTION, 2, 2, 236, 144
        AUTOCHECKBOX    "Use ~password protection", CB_USEPASSWORDPROTECTION, 
                        8, 124, 224, 10
        AUTORADIOBUTTON "Use password of current S~ecurity/2 user", 
                        RB_USEPASSWORDOFCURRENTSECURITYUSER, 8, 111, 224, 10, 
                        BS_NOPOINTERFOCUS | WS_GROUP | WS_TABSTOP
        AUTORADIOBUTTON "Use ~this password:", RB_USETHISPASSWORD,
                        8, 99, 224, 10, BS_NOPOINTERFOCUS | WS_TABSTOP
        LTEXT           "Type your password in both entry fields (characters"
                        " are not displayed). Then press the Change button.", 
                        ST_TYPEYOURPASSWORD, 8, 81, 224, 16, DT_WORDBREAK
                        PRESPARAMS PP_FOREGROUNDCOLORINDEX, CLR_DARKBLUE
        RTEXT           "Password:", ST_PASSWORD, 8, 68, 64, 8,
                        DT_MNEMONIC | NOT WS_GROUP
        ENTRYFIELD      "", EF_PASSWORD, 78, 69, 88, 8,
                        NOT ES_AUTOSCROLL | ES_MARGIN | ES_UNREADABLE
        RTEXT           "Password:", ST_PASSWORDFORVERIFICATION, 8, 55, 64, 8,
                        DT_MNEMONIC | NOT WS_GROUP
        ENTRYFIELD      "", EF_PASSWORD2, 78, 56, 88, 8,
                        NOT ES_AUTOSCROLL | ES_MARGIN | ES_UNREADABLE
        DEFPUSHBUTTON   "~Change", PB_CHANGE, 176, 61, 54, 12, WS_GROUP
        AUTOCHECKBOX    "~Delay password protection", 
                        CB_DELAYPASSWORDPROTECTION, 8, 40, 224, 10, WS_GROUP
        LTEXT           "Ask password only after", ST_ASKPASSWORDONLYAFTER, 
                        8, 31, 105, 8, DT_MNEMONIC | NOT WS_GROUP
        SPINBUTTON      SPB_PWDDELAYMIN, 114, 30, 28, 10,
                        SPBS_NUMERICONLY | SPBS_READONLY | SPBS_MASTER |
                        SPBS_JUSTRIGHT | SPBS_FASTSPIN
        LTEXT           "minute(s) of saving", ST_MINUTESOFSAVING,
                        146, 31, 87, 8, NOT WS_GROUP
        AUTOCHECKBOX    "Make the ~first keypress the first key of the password", 
                        CB_MAKETHEFIRSTKEYPRESSTHEFIRSTKEYOFTHEPASSWORD,
                        8, 16, 224, 10, WS_GROUP
        AUTOCHECKBOX    "~Start screen saver on system startup", 
                        CB_STARTSAVERMODULEONSTARTUP, 8, 4, 224, 10, WS_GROUP
        PUSHBUTTON      "~Undo", PB_NOTEBOOK_PG2_UNDO, 10, 0, 48, 14, BS_NOTEBOOKBUTTON
        PUSHBUTTON      "~Default", PB_NOTEBOOK_PG2_DEFAULT, 60, 0, 48, 14, BS_NOTEBOOKBUTTON
        PUSHBUTTON      "Help", PB_NOTEBOOK_PG2_HELP, 110, 0, 48, 14, BS_NOTEBOOKBUTTON
    END
END

DLGTEMPLATE DLG_SCREENSAVERSETTINGSPAGE3 LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "Screen Saver Settings Page 3", DLG_SCREENSAVERSETTINGSPAGE3,
            0, 0, 240, 154, FS_NOBYTEALIGN | NOT FS_DLGBORDER | WS_VISIBLE
            PRESPARAMS PP_FOREGROUNDCOLORINDEX, CLR_BLACK
    BEGIN
        GROUPBOX        "", GB_SCREENSAVERMODULES, 2, 50, 236, 96, NOT WS_GROUP
        LISTBOX         LB_MODULELIST, 8, 55, 100, 80,
                        LS_NOADJUSTPOS | LS_HORZSCROLL | NOT WS_TABSTOP
        LTEXT           "Preview", ST_PREVIEWPOSITION, 118, 67, 114, 68, DT_BOTTOM
        AUTOCHECKBOX    "Show ~preview", CB_SHOWPREVIEW, 120, 53, 112, 10
        GROUPBOX        "Module Name", GB_MODULEINFORMATION, 2, 2, 236, 45
        DEFPUSHBUTTON   "~Start now", PB_STARTMODULE, 20, 21, 72, 12
        PUSHBUTTON      "~Configure", PB_CONFIGURE, 20, 6, 72, 12
        MLE             "Selected Module Description", 
                        MLE_SELECTEDMODULEDESCRIPTION, 117, 5, 115, 32,
                        MLS_READONLY | MLS_WORDWRAP | MLS_IGNORETAB
        PUSHBUTTON      "~Undo", PB_NOTEBOOK_PG3_UNDO, 10, 0, 48, 14, BS_NOTEBOOKBUTTON
        PUSHBUTTON      "~Default", PB_NOTEBOOK_PG3_DEFAULT, 60, 0, 48, 14, BS_NOTEBOOKBUTTON
        PUSHBUTTON      "Help", PB_NOTEBOOK_PG3_HELP, 110, 0, 48, 14, BS_NOTEBOOKBUTTON
    END
END

